@charset "utf-8";
/* CSS Document */

#topBar {
	background-color: #ff9700;
	height: 7px;
}#topBG {
	background-color: #FFF;
	background-image: url(../img/topBG.jpg);
	background-repeat: repeat-x;
	height: 100px;
}
.ancho960 {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#encabezado img {
	margin-top: 30px;
	float: left;
}
#nav {
	float: right;
}
