@charset "utf-8";
/* CSS Document */

#topBar {
	background-color: #ff9700;
	height: 7px;
}
			#topBG {
	background-color: #FFF;
	background-image: url(../img/topBG.jpg);
	background-repeat: repeat-x;
	height: 100px;
	width: 100%;
}
.ancho960 {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#encabezado img {
	margin-top: 30px;
	float: left;
}
#nav {
	float: right;
	margin-top: 45px;
}
#nav  li{
	float: left;
}
#nav a  {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	/* Permalink - use to edit and share this gradient: 		  http://colorzilla.com/gradient-editor/#004b7b+0,002539+100,207cca+100 */
	background: #004b7b; /* Old browsers */
	background: -moz-linear-gradient(top,  #004b7b 0%, #002539 100%, #207cca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004b7b), color-stop(100%,#002539),	color-stop(100%,#207cca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #004b7b 0%,#002539 100%,#207cca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #004b7b 0%,#002539 100%,#207cca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #004b7b 0%,#002539 100%,#207cca 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #004b7b 0%,#002539 100%,#207cca 100%); /* W3C */





	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004b7b', endColorstr='#207cca',GradientType=0 );

	float: ;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	color: #FFF;
	text-transform: uppercase;
	margin-left: 10px;
}
			#seccion {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005083+0,002437+100 */
background: #005083; /* Old browsers */
background: -moz-linear-gradient(top,  #005083 0%, #002437 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005083), color-stop(100%,#002437)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #005083 0%,#002437 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #005083 0%,#002437 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #005083 0%,#002437 100%); /* IE10+ */
background: linear-gradient(to bottom,  #005083 0%,#002437 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005083', endColorstr='#002437',GradientType=0 ); /* IE6-9 */

	height: 280px;
	margin-top: 60px;
	margin-bottom: 40px;
}

            #seccionTexto h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 40px;
	font-weight:900;
	color: #FFF;
}
            
			#seccionTexto {
	float: left;
	padding-top: 40px;
	padding-right: 25px;
	padding-bottom: 30px;
	padding-left: 25px;
	width: 375px;
}

            
#nav a:hover {
	color: #003;
	background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cca043+0,c67b25+100,bc7a1e+100,e29d3d+100 */
background: #cca043; /* Old browsers */
background: -moz-linear-gradient(top,  #cca043 0%, #c67b25 100%, #bc7a1e 100%, #e29d3d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cca043), color-stop(100%,#c67b25), color-stop(100%,#bc7a1e), color-stop(100%,#e29d3d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cca043 0%,#c67b25 100%,#bc7a1e 100%,#e29d3d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cca043 0%,#c67b25 100%,#bc7a1e 100%,#e29d3d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cca043 0%,#c67b25 100%,#bc7a1e 100%,#e29d3d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cca043 0%,#c67b25 100%,#bc7a1e 100%,#e29d3d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cca043', endColorstr='#e29d3d',GradientType=0 ); /* IE6-9 */
}
#seccionTexto p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 22px;
}
#seccion img {
	float: right;
	margin-top: -25px;
	margin-right: 15px;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #004e81;
	text-transform: uppercase;
	background-image: url(../img/hr.gif);
	background-repeat: repeat-x;
	background-position: center;
}
#carreras {
	margin-top: 30px;
	margin-bottom: 50px;
}
.articulo {
	float: left;
	width: 225px;
	margin-right: 20px;
	margin-bottom: 65px;
}
.articulo h3 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 17px;
	color: #F90;
	margin-top: 15px;
	margin-bottom: 15px;
}
.articulo p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 10px;
}
.articulo:nth-child(4) {
	margin-right: 0px;
}



h2 span {
	background-color: #FFF;
	padding-right: 5px;
}
#pie1 {
	background-color: #002437;
	clear: both;
	height: 100px;
}
#pie1 img {
	padding-top: 20px;
	float: left;
	margin-right: 30px;
}


#pie1 p {
	color: #FFF;
	margin-top: 30px;
	float: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
	padding-left: 10px;
}
#pie1 p a {
	color: #F90;
	text-decoration: none;
}

#pie1 p a:hover {
	color: #F60;	
}





.btnNaranja {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc562+0,ff9a09+100 */
background: #ffc562; /* Old browsers */
background: -moz-linear-gradient(top,  #ffc562 0%, #ff9a09 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc562), color-stop(100%,#ff9a09)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffc562 0%,#ff9a09 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffc562 0%,#ff9a09 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffc562 0%,#ff9a09 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffc562 0%,#ff9a09 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc562', endColorstr='#ff9a09',GradientType=0 ); /* IE6-9 */

	padding: 10px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFF;
	float: right;
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 0px solid #000000;
}

.btnNaranja:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */
background: #cfe7fa; /* Old browsers */
background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
	color:#003;
}
#pie2 {
	background-color: #F90;
	height: 50px;
	color: #FFF;
}
#pie2 p {
	padding-top: 20px;
	text-align: right;
}
#social {
	float: left;
	margin-top: 25px;
	margin-left: 50px;
}
#social a {
	font-size: 45px;
	color: #CCC;
	text-decoration: none;
	padding-right: 30px;
}
#social a:hover {
	color: #F90;
}
