@charset "utf-8";
/* CSS Document */

#topBar {
	background-color: #ff9700;
	height: 7px;
}#topBG {
	background-color: #FFF;
	background-image: url(../img/topBG.jpg);
	background-repeat: repeat-x;
	height: 100px;
}
.ancho960 {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#encabezado img {
	margin-top: 30px;
	float: left;
}

#nav {
	/* [disabled]float: right; */

}
#seccion {
	background-color: #006;
	height: 310px;
	margin-top: 60px;
}



#nav a {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004e81+0,00293f+100 */
	background: #004e81; /* Old browsers */
	background: -moz-linear-gradient(top,  #004e81 0%, #00293f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004e81), color-stop(100%,#00293f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #004e81 0%,#00293f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #004e81 0%,#00293f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #004e81 0%,#00293f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #004e81 0%,#00293f 100%); /* W3C */



















filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004e81', endColorstr='#00293f',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-top: 40px;
	margin-left: 10px;
	text-transform: uppercase;
	float: left;
}



#nav a:hover {
	color: #036;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f77b07+0,d7bd3c+100 */
background: #f77b07; /* Old browsers */
background: -moz-linear-gradient(top,  #f77b07 0%, #d7bd3c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f77b07), color-stop(100%,#d7bd3c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f77b07 0%,#d7bd3c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f77b07 0%,#d7bd3c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f77b07 0%,#d7bd3c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f77b07 0%,#d7bd3c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77b07', endColorstr='#d7bd3c',GradientType=0 ); /* IE6-9 */

}
#seccionTexto {
	float: left;
	padding-top: 40px;
	padding-right: 25px;
	padding-bottom: 30px;
	padding-left: 25px;
	width: 375px;
}
#seccionTexto p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btnNaranja {
	background-color: #F90;
	padding: 10px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFF;
	float: right;
}


#seccionTexto h1 {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
}
